<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvp.mapper.CheckInfoMapper">
    <select id="selectItemsByJob" resultType="com.mvp.dto.CarCheckItems">
        select * from checkinfo info
        left join carcheckitems items on info.checkItemsId = items.id
        where info.job = #{job}
    </select>
</mapper>
