<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mvp.mapper.WareHouseInMapper">
    <insert id="saveGoods">
        INSERT INTO sys.warehouse
        (goods_name, goods_code, spec, quantity, in_date, remark, create_time, update_time)
        VALUES
        (#{goodsName}, #{goodsCode}, #{spec}, #{quantity}, #{inDate}, #{remark}, NOW(), NOW())
    </insert>

    <insert id="saveInGoods">
        INSERT INTO sys.warehouse_in
        (goods_code, spec, quantity, in_date, remark, create_time, update_time)
        VALUES
        (#{goodsCode}, #{spec}, #{quantity}, #{inDate}, #{remark}, NOW(), NOW())
    </insert>

    <insert id="saveOutWarehouse">
        INSERT INTO warehouse_out (
        goods_code,
        out_quantity,
        out_date,
        remark,
        create_time,
        update_time
        ) VALUES (
        #{goodsCode},
        #{outQuantity},
        #{outDate},
        #{remark},
        NOW(),
        NOW()
        )
    </insert>

    <update id="updateGoods">
        UPDATE sys.warehouse
        SET
        remark = #{remark},
        spec = #{spec},
        update_time = NOW()
        WHERE id = #{id}
    </update>

    <update id="updateQuantity">
        UPDATE sys.warehouse
        SET
        quantity = #{quantity},
        spec = #{spec},
        update_time = NOW()
        WHERE id = #{id}
    </update>


    <select id="wareHouseSearch"  resultType="com.mvp.dto.WareHouseInDTO">
            SELECT * FROM warehouse wi
            <where>
                <if test="goodsName != null and goodsName != ''">
                    AND wi.goods_name LIKE CONCAT('%', #{goodsName}, '%')
                </if>
                <if test="goodsCode != null and goodsCode != ''">
                    AND wi.goods_code = #{goodsCode}
                </if>
                <if test="minQuantity != null and minQuantity != ''">
                    AND wi.quantity &gt;= #{minQuantity}
                </if>
                <if test="maxQuantity != null and maxQuantity != ''">
                    AND wi.quantity &lt;= #{maxQuantity}
                </if>
            </where>
    </select>

    <select id="countWareHouse" resultType="java.lang.Integer">
        SELECT count(*) FROM warehouse wi
        <where>
            <if test="goodsName != null and goodsName != ''">
                AND wi.goods_name LIKE CONCAT('%', #{goodsName}, '%')
            </if>
            <if test="goodsCode != null and goodsCode != ''">
                AND wi.goods_code = #{goodsCode}
            </if>
            <if test="minQuantity != null and minQuantity != ''">
                AND wi.quantity &gt;= #{minQuantity}
            </if>
            <if test="maxQuantity != null and maxQuantity != ''">
                AND wi.quantity &lt;= #{maxQuantity}
            </if>
        </where>
    </select>

    <select id="getGoodsOptions" resultType="com.mvp.dto.WareHouseInDTO">
        SELECT * FROM warehouse wi
    </select>

    <select id="getGoodsByCode" resultType="com.mvp.dto.WareHouseInDTO">
        SELECT * FROM warehouse wi where goods_code = #{goodsCode}
    </select>

    <select id="wareHouseInSearch" resultType="com.mvp.dto.WareHouseInDTO">
        SELECT * FROM warehouse_in wi
        <where>
            <if test="inDate != null">
                AND wi.in_date = #{inDate}
            </if>
        </where>
    </select>

    <select id="countWareHouseIn" resultType="java.lang.Integer">
        SELECT count(*) FROM warehouse wi
        <where>
            <if test="inDate != null">
                AND wi.in_date = #{inDate}
            </if>
        </where>
    </select>

    <select id="wareHouseOutSearch" resultType="com.mvp.dto.WareHouseOutDTO">
        SELECT * FROM warehouse_out wi
        <where>
            <if test="outDate != null">
                AND wi.out_date = #{outDate}
            </if>
        </where>
    </select>

    <select id="countWareHouseOut" resultType="java.lang.Integer">
        SELECT count(*) FROM warehouse_out wi
        <where>
            <if test="outDate != null">
                AND wi.out_date = #{outDate}
            </if>
        </where>
    </select>
</mapper>